
<div class="container" ng-controller='activityController'>
    <br/>


    <div>Search : <input type="text" placeholder="patient id" size="20" maxlength="4" ng-model="searchText.patient_id"/>
        <button ng-click="createCsv()" class="btn btn-primary">Export to CSV</div>
    <br/><br/>
    <table class="table">
        <thead>
        <tr>
            <th>UserID</th>
            <th>Duration</th>
            <th>Recorded Time</th>
            <th>ActivityID</th>
            <th>Creation Date</th>
        </tr>
        </thead>

        <tr ng-repeat="activity in activityList | filter:searchText track by $index">
            <td>{{activity.patient_id}}</td>
            <td>{{activity.duration+" minutes"}}</td>
            <td>{{activity.rec_time.slice(0,-5).replace("T"," ")}}</td>
            <td>{{activity.act_id}}</td>
            <td>{{activity.creation_date.slice(0,-5).replace("T"," ")}}</td>
        </tr>

    </table>
</div>

