<!doctype html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <title>Total Joint Replacement Admin Home</title>

</head>
<body>
<div ng-controller='HomeController'>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px; padding-right: 100px">
        <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/">User<span class="sr-only">(current)</span></a></li>
            <li><a href="pain_view.html">PainEntry</a></li>
            <li><a href="activity_view.html">ActivityEntry</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="">Welcome</a></li>
            <li><a href="">Logout</a></li>
        </ul>
    </nav>
</div>
<br/>
<div class="jumbotron" >
    <form class="form-inline" style="padding-left: 25%">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">ID</div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="UserID" ng-model="searchText.userID">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="padding-left: 5%">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form>

</div>

<div class="table" style="padding-left: 25%; padding-right: 25%">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th align="center">UserID</th>
            <th align="center">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter: searchText track by $index">
            <td>{{user.userID}}</td>
            <td>{{user.password}}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="controllers/controllers.js"></script>
</body>
</html>

