<!doctype html>
<html lang="en">
<body>
<div class="container" ng-controller='HomeController'>
<br/>
<div class="jumbotron" >
    <form class="form-inline" style="padding-left: 25%">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">ID</div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="UserID" ng-model="searchText.userID">
        </div>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" style="padding-left: 5%">
            <button  id="addUserBtn" class="btn btn-primary">Add User</button>
        </div>
    </form>

</div>

<div class="table" style="padding-left: 25%; padding-right: 25%">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th align="center">UserID</th>
            <th align="center">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter: searchText track by $index">
            <td>{{user.userID}}</td>
            <td>{{user.password}}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>

