    <div class="container" ng-controller="painController">
        <div class="jumbotron">
            <div>
                <form class="form-inline">
                <label>Search:</label>
                <input class="form-control" type="text" placeholder="User id" size="20" maxlength="4" ng-model="userInput.subjectId">
                <button ng-click="applySearch()" class="btn btn-primary">Filter</button>
                <button ng-click="createCsv()" class="btn btn-primary">Export to CSV</button>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>UserID</th>
                <th>PainLevel</th>
                <th>Note</th>
                <th>Joint</th>
                <th>TimeOfDay</th>
                <th>Time</th>
                <th>Creation Date</th>
            </tr>
            </thead>


            <tr ng-repeat="pain in painList | filter:search track by $index">
                <td>{{pain.subjectId}}</td>
                <td>{{pain.painLevel}}</td>
                <td>{{pain.note}}</td>
                <td>{{pain.joint}}</td>
                <td>{{pain.timeOfDay.slice(0,-5).replace("T"," ")}}</td>
                <td>{{pain.time.slice(0,-5).replace("T"," ")}}</td>
                <td>{{pain.creation_date.slice(0,-5).replace("T"," ")}}</td>
            </tr>

        </table>
    </div>


