<!doctype html>
<html lang="en">
<body>
<div class="container" ng-controller="painController">
    <div>Search : <input type="text" placeholder="Subject id" size="20" maxlength="4" ng-model="searchText.subjectId">

        <button ng-click="createCsv()" class="btn btn-primary">Export to CSV</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>SubjectID</th>
            <th>PainLevel</th>
            <th>Note</th>
            <th>Joint</th>
            <th>TimeOfDay</th>
            <th>Time</th>
            <th>Creation Date</th>
        </tr>
        </thead>


        <tr ng-repeat="pain in painList | filter:searchText track by $index">
            <td>{{pain.subjectId}}</td>
            <td>{{pain.painLevel}}</td>
            <td>{{pain.note}}</td>
            <td>{{pain.joint}}</td>
            <td>{{pain.timeOfDay.slice(0,-5).replace("T"," ")}}</td>
            <td>{{pain.time.slice(0,-5).replace("T"," ")}}</td>
            <td>{{pain.creation_date.slice(0,-5).replace("T"," ")}}</td>
        </tr>

    </table>
</div>

</body>
</html>

